@import url(styles/sidebar.css);
@import url(styles/header.css);
@import url(styles/table.css);

html {
    --cor-principal: navy;
    --cor-principal-hover: #2020a0;
    --sidebar-width: 18rem;
}

body {
    font-family: sans-serif;
    margin: 0;
    min-height: 100vh;
    height: auto;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "sidebar header"
        "sidebar main"
        "sidebar footer";
}

nav {
    grid-area: sidebar;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    padding: 1rem;
    background-color: aliceblue;
}

footer {
    grid-area: footer;
    background-color: white;
    padding: 1rem 1rem;
    border-top: 1px solid gray;
    margin-top: auto;
}

.btn {
    background-color: var(--cor-principal);
    color: white;
    padding: 0.75rem 1rem;
    border-radius: 3px;
}

button.btn {
    cursor: pointer;
    border-style: none;
}

.btn:hover {
    background-color: var(--cor-principal-hover);
}

.btn.submit {
    max-height: min-content;
    max-width: 8rem;
    margin-top: auto;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.items-center {
    justify-content: center;
}

.container {
    display: flex;
    max-width: 100%;
    margin: auto;
    padding: 0.5rem 1rem;
    gap: 1rem;
}

.campo {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.campo label {
    margin-bottom: 0.5rem;
}

.campo input[type="text"],
.campo textarea,
.campo select {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 3px;
    box-sizing: border-box;
}