table {
    border-collapse: collapse;
    background-color: azure;
    width: 100%;
    overflow: hidden;
}

table tr:nth-child(even) {
    background-color: #b0dddd;
}

th, td {
    border-style: solid;
    border-width: 1px;
    padding: 1rem 1rem;
}

th {
    background-color: var(--cor-principal);
    color: white;
    border-color: black;
}

th:not(:last-child) {
    border-right-color: white;
}

td {
    border-color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

td a {
    color: var(--cor-principal-hover)
}

tr:hover td {
    background-color: white;
}